body {
  background-image: url("https://images.unsplash.com/photo-1604079628040-94301bb21b91?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  display:flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
#header {
  padding: 15px;
  color: white;
  justify-content: space-evely;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.link {
  background-color:coral;
  color: white;
  border-radius: 25px;
  width: 400px;
  height: 50px;
  border-style: hidden;
}
